img {
  border-radius: 125px 125px 125px 125px;
  animation: bounce 3s infinite;
  margin-top: 20px;
  box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.5);
}
h1 {
  text-shadow: -3px 4px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 18px;
  margin: 25px;
  text-shadow: -3px 4px 5px rgba(0, 0, 0, 0.5);
}

body {
  background: linear-gradient(to top,rgb(68, 200, 66), rgb(0, 115, 13));
  font-family: 'poppins';
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 15px;
  margin-left: 50px;
  margin-right: 50px;
  color: rgb(22, 56, 20);
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 16, 96);
  transform: scale(1.10);
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);  
  }
  40% {
    transform: translateY(-10px);
}

  60% {
  transform: translateY(-5px);
  }
}
footer {
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  font-size: 12px;
}

